/*
File: cgpVariables.scss
Author: James Seebach
Date: 4/25/2017
Desc: CGP variables
Other Contributors: Joseph M Diaz
*/

$font_0: Arial;
$font_1: SansSerif;

$z-index-highest: 300;
$z-index-higher: 200;
$z-index-high: 100;
$z-index-normal: 1;
$z-index-low: -100;
$z-index-lower: -200;